.license {
  cursor: pointer;
  color: var(--text-0-c);
  background: var(--text-0-bg);
  display: flex;
  text-align: center;
  align-items: center;

  text-decoration: none;

  &:link,
  &:visited {
    text-decoration: none;
  }
}
