:root {
    --light-bg: #15141e;
    --light-bg-main: #caced3;
    --light-bg-card: #e5eaea;
    --light-bg-footer: #f8fcff;

    --light-bg-primary: #2d62bb;
    --light-bg-secondary: #174186;

    --light-text-primary: #15141e;
    --light-text-secondary: #2a2b2f;

    -----------------------------------1: 0;

    --dark-bg: #f8fcff;
    --dark-bg-main: #27282c;
    --dark-bg-card: #3b3d44;
    --dark-bg-footer: #15141e;

    --dark-bg-primary: #2e518d;
    --dark-bg-secondary: #2e4977;

    --dark-text-primary: #f8fcff;
    --dark-text-secondary: #d1d2d5;

    ------------------------------------2: 0;

    --bg: var(--light-bg);
    --bg-main: var(--light-bg-main);
    --bg-card: var(--light-bg-card);
    --bg-footer: var(--light-bg-footer);

    --bg-primary: var(--light-bg-primary);
    --bg-secondary: var(--light-bg-secondary);

    --text-primary: var(--light-text-primary);
    --text-secondary: var(--light-text-secondary);


    ------------------------------------3: 0;

    @media (prefers-color-scheme: dark) {
        --bg: var(--dark-bg);
        --bg-main: var(--dark-bg-main);
        --bg-card: var(--dark-bg-card);
        --bg-footer: var(--dark-bg-footer);

        --bg-primary: var(--dark-bg-primary);
        --bg-secondary: var(--dark-bg-secondary);

        --text-primary: var(--dark-text-primary);
        --text-secondary: var(--dark-text-secondary);
    }
}

* {
    font-size: 1.6rem;
    font-family: ui-sans-serif, system-ui, sans-serif;
    box-sizing: border-box;

    button {
        border-radius: 0;
        padding: 0;
        border: 0;
    }

    input {
        border: 0 solid;
        padding: 0;
    }

    img {
        vertical-align: middle;
        image-rendering: crisp-edges;
    }

    h1 {
        font-size: 3.2rem;
    }
    h2 {
        font-size: 2.8rem;
    }
    h3 {
        font-size: 2.2rem;
    }
    h4 {
        font-size: 2rem;
    }
}

html {
    font-size: 10px !important;

    height: 100%;
    width: 100%;
}

body {
    margin: 0 !important;
    padding: 0 !important;

    height: 100%;
    width: 100%;

    background-attachment: fixed;
    background-size: cover;
}
#storybook-root {
    width: 100%;
    height: 100%;
}
a {
    &:visited,
    &:link {
        color: var(--color-primary);
    }
}
