@use "../../../styles/all.module" as *;

.buttonWrapper {
  .button {
    display: inline-flex;
    width: fit-content;
    height: fit-content;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    padding: 1rem 3rem;
    border-radius: var(--border-radius);

    font-weight: bold;
    cursor: pointer;
    user-select: none;
    outline: none;

    @include textEllipsis();

    > * {
      flex-shrink: 0;
    }

    &:focus-visible {
      outline: 0.2rem solid var(--outline-focus);
    }

    &.fullWidth {
      width: 100%;
      justify-content: center;
    }

    &.plainVariant {
      border: none;
    }

    &.threeDVariant {
      border-bottom: 0.2rem solid;

      &:active {
        border-bottom: 0;
        border-top: 0.2rem solid;
      }
    }

    &.colorBlue {
      @include btn-color("btn-blue");
    }

    &.colorYellow {
      @include btn-color("btn-yellow");
    }

    &.colorGrey {
      @include btn-color("btn-grey");
    }

    &.colorDark {
      @include btn-color("btn-dark");
    }

    &.colorLight {
      @include btn-color("btn-light");
    }
  }
}
