@use "../../../styles/all.module" as *;

.buttonWrapper {
  .button {
    display: inline-flex;
    width: fit-content;
    height: fit-content;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    padding: 1rem 3rem;
    border-radius: var(--border-radius);

    font-weight: bold;
    cursor: pointer;
    user-select: none;
    outline: none;

    @include textEllipsis();

    > * {
      flex-shrink: 0;
    }

    &:focus-visible {
      outline: 0.2rem solid var(--outline-focus);
    }

    &.fullWidth {
      width: 100%;
      justify-content: center;
    }

    &.plainVariant {
      border: none;
    }

    &.threeDVariant {
      border-bottom: 0.2rem solid;

      &:active {
        border-bottom: 0;
        border-top: 0.2rem solid;
      }
    }

    &.colorBlue {
      background-color: var(--btn-blue-bg);
      border-color: var(--btn-blue-bd);
      color: var(--btn-blue-c);

      &:hover {
        background-color: var(--btn-blue-hover-bg);
        border-color: var(--btn-blue-hover-bd);
        color: var(--btn-blue-hover-c);
      }

      &:active,
      &:focus {
        background-color: var(--btn-blue-focus-bg);
        border-color: var(--btn-blue-focus-bd);
        color: var(--btn-blue-focus-c);
      }
    }

    &.colorYellow {
      background-color: var(--btn-yellow-bg);
      border-color: var(--btn-yellow-bd);
      color: var(--btn-yellow-c);

      &:hover {
        background-color: var(--btn-yellow-hover-bg);
        border-color: var(--btn-yellow-hover-bd);
        color: var(--btn-yellow-hover-c);
      }

      &:active,
      &:focus {
        background-color: var(--btn-yellow-focus-bg);
        border-color: var(--btn-yellow-focus-bd);
        color: var(--btn-yellow-focus-c);
      }
    }

    &.colorGrey {
      background-color: var(--btn-grey-bg);
      border-color: var(--btn-grey-bd);
      color: var(--btn-grey-c);

      &:hover {
        background-color: var(--btn-grey-hover-bg);
        border-color: var(--btn-grey-hover-bd);
        color: var(--btn-grey-hover-c);
      }

      &:active,
      &:focus {
        background-color: var(--btn-grey-focus-bg);
        border-color: var(--btn-grey-focus-bd);
        color: var(--btn-grey-focus-c);
      }
    }

    &.colorDark {
      background-color: var(--btn-dark-bg);
      border-color: var(--btn-dark-bd);
      color: var(--btn-dark-c);

      &:hover {
        background-color: var(--btn-dark-hover-bg);
        border-color: var(--btn-dark-hover-bd);
        color: var(--btn-dark-hover-c);
      }

      &:active,
      &:focus {
        background-color: var(--btn-dark-focus-bg);
        border-color: var(--btn-dark-focus-bd);
        color: var(--btn-dark-focus-c);
      }
    }

    &.colorLight {
      background-color: var(--btn-light-bg);
      border-color: var(--btn-light-bd);
      color: var(--btn-light-c);

      &:hover {
        background-color: var(--btn-light-hover-bg);
        border-color: var(--btn-light-hover-bd);
        color: var(--btn-light-hover-c);
      }

      &:active,
      &:focus {
        background-color: var(--btn-light-focus-bg);
        border-color: var(--btn-light-focus-bd);
        color: var(--btn-light-focus-c);
      }
    }
  }
}
