.accountItem {
  border-radius: 0.75rem;
  padding: 1rem 3rem;

  color: var(--text-1-c);

  font-weight: bold;
  cursor: pointer;
  user-select: none;

  display: flex;
  gap: 1rem;

  border: 2px solid var(--input-bd);

  &:hover,
  &.selected {
    border: 2px solid var(--input-hover-bd);
  }

  &:active,
  &:focus {
    border: 2px solid var(--input-focus-bd);
  }
}
