@use "./all.module" as *;

:root {
  --light-bg: #ffffff;
  --light-bg-main: #dbdbdb;
  --light-bg-card: #efefef;
  --light-bg-footer: #fcfcfc;

  --light-bg-primary: #2d62bb;
  --light-border-primary: #2d62bb;
  --light-bg-secondary: #174186;

  --light-text-primary: #15141c;
  --light-text-secondary: #2a2b2f;
  --light-text-placeholder: #6f6f6f;

  /*------------------------------------*/

  --dark-bg: #29292d;
  --dark-bg-main: #212224;
  --dark-bg-card: #2e3035;
  --dark-bg-footer: #141418;

  --dark-bg-primary: #2e518d;
  --dark-border-primary: #2e518d;
  --dark-bg-secondary: #2e4977;

  --dark-text-primary: #f8fcff;
  --dark-text-secondary: #d1d2d5;
  --dark-text-placeholder: #999;

  /*------------------------------------*/

  --bg: var(--light-bg);
  --bg-main: var(--light-bg-main);
  --bg-card: var(--light-bg-card);
  --bg-footer: var(--light-bg-footer);

  --bg-primary: var(--light-bg-primary);
  --bg-secondary: var(--light-bg-secondary);

  --border-primary: var(--light-border-primary);

  --text-primary: var(--light-text-primary);
  --text-secondary: var(--light-text-secondary);
  --text-placeholder: var(--light-text-placeholder);

  /*------------------------------------*/

  --text-danger: #f93434;

  /*------------------------------------*/

  --border-radius: #{rem(3)};
  --border-radius-md: #{rem(3)};
  --border-radius-lg: #{rem(6)};
  --border-radius-xl: #{rem(16)};

  /*------------------------------------*/

  --inv-bg: var(--dark-bg);
  --inv-bg-main: var(--dark-bg-main);
  --inv-bg-card: var(--dark-bg-card);
  --inv-bg-footer: var(--dark-bg-footer);

  --inv-bg-primary: var(--dark-bg-primary);
  --inv-bg-secondary: var(--dark-bg-secondary);

  --inv-text-primary: var(--dark-text-primary);
  --inv-text-secondary: var(--dark-text-secondary);

  @media (prefers-color-scheme: dark) {
    --bg: var(--dark-bg);
    --bg-main: var(--dark-bg-main);
    --bg-card: var(--dark-bg-card);
    --bg-footer: var(--dark-bg-footer);

    --bg-primary: var(--dark-bg-primary);
    --bg-secondary: var(--dark-bg-secondary);

    --border-primary: var(--dark-border-primary);

    --text-primary: var(--dark-text-primary);
    --text-secondary: var(--dark-text-secondary);
    --text-placeholder: var(--dark-text-placeholder);

    /*------------------------------------*/

    --inv-bg: var(--light-bg);
    --inv-bg-main: var(--light-bg-main);
    --inv-bg-card: var(--light-bg-card);
    --inv-bg-footer: var(--light-bg-footer);

    --inv-bg-primary: var(--light-bg-primary);
    --inv-bg-secondary: var(--light-bg-secondary);

    --inv-text-primary: var(--light-text-primary);
    --inv-text-secondary: var(--light-text-secondary);
  }
}

* {
  font-size: 1.4rem;
  font-family: ui-sans-serif, system-ui, sans-serif;
  box-sizing: border-box;

  button {
    border-radius: 0;
    padding: 0;
    border: 0;
  }

  input {
    border: 0 solid;
    padding: 0;
  }

  img {
    vertical-align: middle;
    image-rendering: crisp-edges;
  }

  h1 {
    font-size: 3.2rem;
  }

  h2 {
    font-size: 2.8rem;
  }

  h3 {
    font-size: 2.2rem;
  }

  h4 {
    font-size: 2rem;
  }
}

html {
  font-size: 10px !important;

  height: 100%;
  width: 100%;
}

body {
  margin: 0 !important;
  padding: 0 !important;

  height: 100%;
  width: 100%;

  background-attachment: fixed;
  background-size: cover;
}

#storybook-root {
  width: 100%;
  height: 100%;
}

a {
  &:visited,
  &:link {
    color: var(--bg-primary);
  }
}

#root {
  height: 100%;
}
