@use "../../../styles/colors.module.scss" as *;

.background {
  background-color: var(--text-3-bg);
  color: var(--text-3-c);
  display: flex;
  flex-direction: column;

  width: 100%;
  height: 100%;

  overflow: hidden auto;
}
