@use "../../../../styles/overflow.module.scss" as *;

.navItem {
  padding: 1rem 1rem 1rem 2rem;
  border-radius: 0.75rem;

  color: var(--text-secondary);
  background-color: var(--bg-main);

  font-weight: bold;
  cursor: pointer;
  user-select: none;

  display: flex;
  gap: 1rem;
  text-align: center;
  align-items: center;

  svg {
    height: 1.8rem;

    path {
      fill: var(--text-secondary);
    }
  }

  .text {
    flex: 1;
    text-align: left;
    @include textEllipsis();
  }

  @mixin setColorWhenLight {
    @media (prefers-color-scheme: light) {
      color: var(--dark-text-primary);
      svg path {
        fill: var(--dark-text-primary);
      }
    }
  }

  &:hover,
  &.selected {
    background-color: var(--bg-primary);

    @include setColorWhenLight;
  }

  &:active {
    background-color: var(--bg-secondary);
    @include setColorWhenLight;
  }
}
