@use "../../styles/all.module" as *;

.card {
  --card-border-radius: var(--border-radius-xl);

  display: flex;
  flex-direction: column;
  background-color: var(--text-1-bg);
  color: var(--text-1-c);
  border-color: var(--text-1-bd);
  border-radius: var(--card-border-radius);

  @include boxShadow();

  .topSection {
    display: flex;
    flex-direction: column;
    padding: 1rem 2.5rem 1.2rem;
    background: var(--color-blue-6);
    color: white;
    font-size: 1.4em;
    font-weight: bold;
  }

  .content {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: var(--text-2-bg);
    color: var(--text-2-c);
  }

  .bottomSection {
    display: flex;
    flex-direction: column;
    padding: 2.5rem;
    background-color: var(--text-1-bg);
    color: var(--text-1-c);
  }

  > *:first-child {
    border-top-left-radius: var(--card-border-radius);
    border-top-right-radius: var(--card-border-radius);
  }

  > *:last-child {
    border-bottom-left-radius: var(--card-border-radius);
    border-bottom-right-radius: var(--card-border-radius);
  }
}
