
.navigation {
  width: 24rem;

  display: flex;
  flex-direction: column;
  gap: 2rem;

  padding: 1.5rem 2rem;

  .logo {
    margin: 1rem auto;

    img {
      width: 12.8rem;
      transform: scale(1.5);
    }
  }
}