
.navigation {

  display: flex;
  flex-direction: column;

  padding: 1rem;

  .logo {
    margin: 0 auto;

    img {
      width: 12.8rem;
    }
  }

  .items {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    height: 100%;

    margin-top: 1rem;
  }
}