.wrapper {
  height: 100%;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  .card {
    min-width: 35rem;
    min-height: 40rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;

    .main {
      display: flex;
      flex-direction: column;
      flex-grow: 1;

      .content,
      .actions {
        padding: 2rem 3rem;
      }

      .content {
        flex: 1;
        background-color: var(--bg-footer);
        display: flex;
        flex-direction: column;
      }
      .actions {
      }
    }
  }
}
