@use "../../../styles/all.module.scss" as *;

.header {
  display: flex;

  justify-content: space-between;
  align-items: center;

  padding: 1rem 1rem 1rem 0;

  .burger {
    display: none;

    @include phone-only() {
      display: inherit;
    }
  }
}
