@use "../../../styles/all.module.scss" as *;

.bigCard {
  display: flex;
  flex-direction: column;

  $margin: 0.5rem;

  margin: $margin auto;
  width: calc(100% - ($margin * 2));
  height: calc(100% - ($margin * 2));

  @include boxShadow();

  max-width: 144rem;
  overflow: hidden;

  .container {
    display: flex;
    flex: 1;

    .bigContainer {
      display: flex;
      flex-direction: column;
      flex: 1;

      .main {
        border-top-left-radius: 0.75rem;

        &.headless {
          border-top-left-radius: 1.5rem;
        }

        background-color: var(--text-1-bg);
        color: var(--text-1-c);
      }
    }
  }
}
