@use "../../../styles/colors.module.scss" as *;

.footer {
  background-color: var(--bg-footer);
  @include setPrimaryTextColors();

  display: flex;
  padding: 3rem 4rem;
  justify-content: space-between;

  text-align: center;
  align-items: center;
}
