@use "../../../styles/all.module" as *;
@use "sass:color";

.selector {
  position: relative;
  user-select: none;

  &.bordered .select {
    border: 0.2rem solid var(--input-bd);
  }

  &.isOpen {
  }

  &.isSelected {
    .select {
      .placeholder {
        position: absolute;
        top: 0;
      }
    }
    .select {
      padding: 1rem 2rem .25rem;
    }
  }

  .select {
    display: flex;
    position: relative;

    gap: 1rem;
    padding: 1rem 2rem;
    cursor: pointer;

    background-color: var(--input-bg);
    border: 0.2rem solid transparent;
    color: var(--input-c);
    border-radius: var(--border-radius);
    outline: none;

    .input {
      opacity: 0;
      height: 100%;
      position: absolute;
      width: 100%;
      left: 0;
      top: 0;
      background-color: transparent;
      color: transparent;
      border: 0.2rem solid transparent;
      z-index: -1;
    }

    &:has(.input:focus-visible) {
      color: var(--input-focus-c);
      background: var(--input-focus-bg);
      border-color: var(--input-focus-bd);
    }

    .clear {
      cursor: pointer;
      height: 1.8rem;
      opacity: 0.5;

      svg {
        height: 1.8rem;
      }
    }

    .chevron {
      height: 1.8rem;
      margin-left: auto;

      svg {
        height: 1.8rem;
      }
    }

    .selection {
      flex: 1;
      margin-top: .7rem;
    }

    .placeholder {
      color: var(--input-placeholder-c);
    }

    .placeholder,
    .selection {
      height: 1.8rem;
      cursor: pointer;
    }
  }

  .modal {
    position: absolute;
    top: 5rem;
    width: 100%;
    z-index: 100;

    box-shadow: none;
    backdrop-filter: blur(0.5rem);
    border-radius: var(--border-radius);
    background: color.adjust($light-3, $alpha: -0.8);

    @include boxShadow();

    .options {
      display: flex;
      flex-direction: column;

      .option {
        padding: 1rem 2rem;
        cursor: pointer;
        text-align: left;
        color: var(--select-modal-c);
        background: var(--select-modal-bg);

        &:first-child {
          border-top-left-radius: var(--border-radius);
          border-top-right-radius: var(--border-radius);
        }

        &:last-child {
          border-bottom-left-radius: var(--border-radius);
          border-bottom-right-radius: var(--border-radius);
        }

        &.optionSelected,
        &:hover {
          color: var(--select-modal-hover-c);
          background: var(--select-modal-hover-bg);
        }

        &:focus,
        &:active {
          color: var(--select-modal-focus-c);
          background: var(--select-modal-focus-bg);
        }
      }
    }
  }
}
