.none {
  color: var(--color-red-7);
}
.low {
  color: var(--color-yellow-9);
}
.medium {
  color: var(--color-green-5);
}
.high {
  color: var(--color-green-4);
}
.full {
  color: var(--color-green-3);
}
